FLIGHTAWARE_API_KEY=your_aeroapi_key_here
ENABLE_AWC_METAR_FALLBACK=false
RESEND_API_KEY=
ALERT_FROM_EMAIL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
TWILIO_MESSAGING_SERVICE_SID=
ALERT_DELIVERY_WEBHOOK=
ALERT_WEBHOOK_SECRET=
